@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
*{
  font-family: 'Zen Antique Soft', serif;
}


.About{
    text-align: center;
}
.Delani {
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    height: 600px;
    text-align: center;
    justify-items: center;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Delani {
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    height: 600px;
    text-align: center;
    justify-items: center;
}
.insert {
    position: relative;
    text-align: center;
    color: white;
    
  }
  
.oops {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pan {
    text-align: center;
  }

  .hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
  }
  
  .pt {
    text-align: center;
  }
  .btn1 p {
    display: none;
    
  }
  .btn1:hover p {
    display: inline;
  } 

  .btn1:hover img {
    display: none;
  } 

  .btn2 p {
    display: none;
    
  }
  .btn2:hover p {
    display: inline;
  } 

  .btn2:hover img {
    display: none;
  } 

  .btn3 p {
    display: none;
    
  }
  .btn3:hover p {
    display: inline;
  } 

  .btn3:hover img {
    display: none;
  } 

.pit {
   text-align: center;
  
}
.fn {
  position: relative;
  text-align: center;
  color: white;
}


.run {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: ruby-text-container;
}

.rep {
  text-align: center;
}
  